<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>

    <!--Bootstrap CSS and JS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Additional CSS styling-->
    <link rel="stylesheet" href="/css/style.css">

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Tech-Blog</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Nav list-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Homepage</a>
                </li>
                {{#if logged_in}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Blog Dashboard</a>
                </li>
                <li class="nav-item">
                     <button class="btn btn-dark" id="logout">Logout</button>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login Page</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <section>
        <main class="container container-fluid mt-5">
        {{{ body }}}
        </main>
    </section>




    <br>
    <br>
    <br>

    <!-- Footer section-->
    <footer class="footer d-flex flex-column bg-dark">
        <p class="footer-copyright text-center small py-1">Copyright © Gurvinder Dehl <br>
            <a id="footer-ref" href='https://www.freepik.com/vectors/background'></a>
        </p>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>







