<div class="row mt-4">
    <div class="col-md-4 text-white bg-secondary p-3">
        <h3>Edit blog post here:</h3>
        <h2>{{blogs.name}} {{this.description}}</h2>
        <form class="form edit-blog-form">
            <div class="form-group">
                <label for="edit-blog-title">Title:</label>
                <br>
                <input class="form-input" type="text" id="edit-blog-title" name="blog-title" value="{{blogs.name}}" />
            </div>
            <div class="form-group">
                <label for="edit-blog-body">Post:</label>
                <br>
                <textarea class="form-input" type="text" id="edit-blog-body" name="blog-body"
                    value="{{blogs.description}}"></textarea>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark" id="update-edit">Update Blog</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/edit.js"></script>