* {
    font-family: 'Noto Serif', serif;
}

/* style by element */
body {
    background-size: cover;
}

p {
    color:#EAEAEA;
}

/* h1, h2, h3, h4, h5 {
    border-bottom: white 1px solid;
} */
#home-blog-txt {
    color: #bbbbbb;
}

.bg-blogs {
    background-color:#EAEAEA;
}

#signuplink {
    color: #bbbbbb;
}

/* navbar styling */
.navbar-brand:hover {
    letter-spacing: 0.2em;
}

.navbar-nav {
    margin-left: auto;
}

/* footer styling */
#footer-ref {
    color: #1a1aa9;
}

footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}